{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                                <div class="h2">
                                    <!-- Имя автора -->
                                    {{ post.author.first_name }} {{ post.author.last_name }}
                                </div>
                                <div class="h3 text-muted">
                                     <!-- username автора -->
                                     @{{ post.author.username }}
                                </div>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                        Подписчиков: {{ post.author.following.count }} <br />
                                        Подписан: {{ post.author.follower.count }}
                                        </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                            <!--Количество записей -->
                                            Записей: {{ post_list.count}}
                                        </div>
                                </li>
                        </ul>
                </div>
        </div>

        <div class="col-md-9">

            <!-- Пост -->
                    {% include "post_item.html" with post=post %}
            {% include 'comments.html' %}
            {% if items.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator %}
            {% endif %}
     </div>
    </div>
</main>

{% endblock %}