{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        <!-- Имя автора -->
                                        {{ profile.first_name }} {{ profile.last_name }}
                                    </div>
                                    <div class="h3 text-muted">
                                         <!-- username автора -->
                                         @{{ profile.username }}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: {{ profile.following.count }} <br />
                                            Подписан: {{ profile.follower.count }}
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                <!-- Количество записей -->
                                                Записей: {{ paginator.count}}
                                            </div>
                                    </li>
                                    {% if user != profile %}
                                    <li class="list-group-item">
                                      {% if following %}
                                      <a class="btn btn-lg btn-light"
                                           href="{% url 'profile_unfollow' profile.username %}" role="button">
                                           Отписаться
                                      </a>
                                      {% else %}
                                      <a class="btn btn-lg btn-primary"
                                          href="{% url 'profile_follow' profile.username %}" role="button">
                                      Подписаться
                                      </a>
                                      {% endif %}
                                    </li>
                                    {% endif %}
                            </ul>
                    </div>
            </div>

            <div class="col-md-9">

                <!-- Начало блока с отдельным постом -->
                    {% for post in page %}
                        {% include "post_item.html" with post=post %}
                    {% endfor %}
                <!-- Конец блока с отдельным постом -->

                <!-- Остальные посты -->

                <!-- Здесь постраничная навигация паджинатора -->
                    {% if page.has_other_pages %}
                    {% include "paginator.html" with items=page paginator=paginator %}
                    {% endif %}
     </div>
    </div>
</main>

{% endblock %}