certifi==2020.12.5
Django==2.2
django-bootstrap-pagination==1.7.1
django-debug-toolbar==3.2
django-environ==0.4.5
django-extensions==3.1.1
django-filter==2.4.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
environ==1.0
Markdown==3.3.4
Pillow==8.1.2
psycopg2-binary==2.8.6
pydot==1.4.2
PyJWT==2.1.0
pyparsing==2.4.7
pytz==2021.1
sentry-sdk==1.1.0
sorl-thumbnail==12.7.0
sqlparse==0.4.1
urllib3==1.26.4
